$white: #FAFAFA;
$off-white: #ECEFF1;
$black: #263238;
$lightBlack: #607D8B;
$black-alt: #455A64;
$grey: #9E9E9E;

$teal: #0097A7;
$teal-alt: #00BAD2;


$color__light: $white;
$color__light-alt: $off-white;
$color__dark: $black;
$color__dark-med: $black-alt;
$color__dark-alt: $lightBlack;
$color__primary: $teal;
$color__accent: $teal-alt;
$color__neutral: $grey;
