$white: #FAFAFA;
$off-white: #EEEEEE;
$black: #424242;
$lightBlack: #607D8B;
$grey: #9E9E9E;

$cyan: #00BCD4;
$yellow: #FFEB3B;
$amber: #FFC107;
$teal: #009688;
$green: #81C784;
$blue: #3F51B5;
$brown: #A1887F;

$color__light: $white;
$color__light-alt: $off-white;
$color__dark: $black;
$color__dark-alt: $lightBlack;
$color__primary: $green;
$color__accent: $teal;
$color__neutral: $grey;
