$white: #FAFAFA;
$off-white: #EEEEEE;
$black: #424242;
$lightBlack: #616161;
$grey: #9E9E9E;

$cyan: #00BCD4;
$yellow: #FFEB3B;
$amber: #FFC107;
$teal: #009688;
$green: #4CAF50;
$blue: #3F51B5;

$color__light: $white;
$color__light-alt: $off-white;
$color__dark: $black;
$color__dark-alt: $lightBlack;
$color__primary: $cyan;
$color__accent: $amber;
$color__neutral: $grey;
