.site-footer {
  background: $color__dark;
  color: $color__light-alt;
  min-width: 100%;
  padding-top: $column;
  text-align: center;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: $gutter $gutter 0 $gutter;
  }
}

.name {
  font-family: $font__alt;
  @include font-size(1.8);
}


@media screen and (max-width: $M) {
  .site-footer {
    li {
      display: block;
      padding: 1em;
    }
  }
}
