html,
body {
  height: 100%;
  width: 100%;
}

.site-content,
.site-footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.site-content {
  padding-top: $column;
}

.site-title {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

@media screen and (max-width: $M) {
  .site-content,
  .site-footer,
  .site-title {
    padding: 0 $gutter;
  }

  .site-title {
    text-align: center;
  }
}
