.portfolio-post {
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-bottom: $column;
  text-align: center;
}

.portfolio-post--image {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border: 5px solid $color__light-alt;
}

.portfolio-post--title {
  margin-bottom: 0;
}

.portfolio-post--links {
  margin: $gutter 0;
}

.website-post,
.website-post-head {
  background: $color__light-alt;
  padding: $gutter;
}

.website-post-head {
  margin-top: $column;
  text-align: center;
  position: relative;
  overflow: hidden;

  h2,
  p {
    position: relative;
    z-index: 2;
    padding: 0;
  }

  h2 {
    margin: 0;
  }

  p {
    margin: -15px 0 0 0;
    font-style: italic;
  }
}

@media screen and (max-width: $M) {
  .website-post-head {
    margin-top: 125px;
    margin-bottom: $gutter;
  }

  .portfolio-post {
    width: 100%;
    margin: 0;
  }

  .portfolio-post--image {
    height: auto;
  }

  .portfolio-post--links .button {
    display: block;
    margin-bottom: $gutter;
  }

}

@media screen and (max-width: $S) {
  .website-post .button {
    @include font-size(0.8);
  }

}
