.portfolio-post {
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-bottom: $column;
  text-align: center;
}

.portfolio-post--image {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.portfolio-post--title {
  margin-bottom: 0;
}

.portfolio-post--links {
  margin: $gutter 0;
}

.portfolio-head {
  background: $color__light-alt;
  padding: $gutter;
  margin-top: $gutter;
  text-align: center;

  h3,
  p {
    margin: 0;
  }
}

@media screen and (max-width: $M) {
  .portfolio-head {
    margin-top: ($column + $gutter);
  }

  .portfolio-post {
    width: 100%;
    margin: 0;
  }

  .portfolio-post--image {
    height: auto;
  }

  .portfolio-post--links .button {
    display: block;
    margin-bottom: $gutter;
  }

}
