.website-entry {
  @include clearfix();
  margin-bottom: $column;
}

.website-grid {
  -moz-column-count: 3;
  -moz-column-gap: $gutter;
  -moz-column-fill: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: $gutter;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: $gutter;
  column-fill: auto;
}

.website-grid {
  img {
    border: 5px solid $color__light-alt;
    height: 100%;
    width: 100%;
    margin-bottom: $gutter;
  }
}

.website-post {
  margin-bottom: $gutter;
}

.website-post,
.website-post-head {
  background: $color__light-alt;
  padding: $gutter;
}

.website-post-head {
  margin-top: $gutter;
  text-align: center;
  position: relative;
  overflow: hidden;

  h2,
  p {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
  }
}

.back-portfolio {
  font-size: 200px;
  color: $color__light;
  position: absolute;
  top: -75px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


@media screen and (max-width: $L)  {
  .website-grid {
    -moz-column-count: 2;
    -moz-column-gap: $gutter;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: $gutter;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: $gutter;
    column-fill: auto;
  }
}

@media screen and (max-width: $M)  {
  .website-grid {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .website-post-head {
    margin-top: 150px;
    margin-bottom: $gutter;
  }
}
