.website-entry {
  @include clearfix();
  margin-bottom: $column;
}

.website-image,
.website-post {
  width: 30%;
  float: left;
  margin-right: 3%;
  margin-bottom: $gutter;
  height: auto;
  overflow: hidden;
}

.website-image {
  img {
    height: 100%;
    width: 100%;
  }
}

.website-post,
.website-post-head {
  background: $color__light-alt;
  padding: $gutter;
}

.website-post-head {
  margin-top: $gutter;
  text-align: center;

  h2,
  p {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: $M)  {
  .website-image,
  .website-post {
    width: 100%;
    margin: $gutter 0;
  }

  .website-post {
    .button {
      display: block;
    }
  }

  .website-post-head {
    margin-top: ($column + $gutter);
  }
}
